<nav tabindex="-1" class="drawer cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
  <div class="drawer-container">
    <!--.drawer-search(role="search")-->
    <ul role="navigation" class="drawer-list ">
        {{> custom/navigation }}
    </ul>
  </div>
</nav>