<div class="header-nav-title"><a class="toggle-menu menu-left push-body sidebar-toggle"><i class="ion ion-navicon-round"></i></a><div id="blog-title"><a href="/">{{@blog.title}}</a></div></div>

<nav class="header-nav">
    <ul>
	    <li><a href="http://www.thomascullendesign.com">Home</a></li>
        <li><a href="/projects">Projects & Companies</a></li>
        <li><a href="http://www.thomascullendesign.com">About Me</a></li>
        <li><a href="{{@blog.url}}">CharityDrops <i class="ion ion-ios-arrow-thin-right"></i></a></li>
    </ul>
</nav>

{{> drawer}}