<p class="article-top">Follow me on <a href="http://twitter.com/mxsawyer" target="_blank">twitter</a>, <a href="http://mxcleod.com" target="_blank">tumblr</a>, and <a href="/subscribe" target="_blank">subscribe</a> to the newsletter!</p>
<div class="border-dash-top"></div>