<li class="drawer-list-item">
  <a href="/" data-pjax><i class="fa fa-home"></i>Home</a>
</li>
<li class="drawer-list-item">
  <a href="/about" data-pjax><i class="fa fa-user"></i>About Me</a>
</li>
<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">Projects</li>
<li class="drawer-list-item">
  <a href="https://charitydrops.org/" target="_blank"><i class="fa fa-tint"></i>CharityDrops</a>
</li>
<li class="drawer-list-item">
  <a href="https://getavada.tumblr.com/" target="_blank"><i class="fa fa-bolt"></i>Avada Browser</a>
</li>
<li class="drawer-list-item">
  <a href="http://uptownfunkify.com/" target="_blank"><i class="fa fa-child"></i>UptownFunkify!</a>
</li>

<li class="drawer-list-item">
  <a href="/projects"><i class="fa fa-angle-left"></i>Other Projects</a>
</li>

<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">Follow me</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/msawyer" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
</li>
<li class="drawer-list-item">
  <a href="http://mxcleod.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i>Tumblr</a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i>Subscribe to Feed (rss)</a>
</li>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Link -->
<li class="sidebar-ads"><ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:90px"
     data-ad-client="ca-pub-7004039348107787"
     data-ad-slot="3937989758"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</li>